<html>
  <head>
    <title>Error accrued</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
      integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
      crossorigin="anonymous"
    />

    <style>
      body {
        margin-top: 150px;
        background-color: #c4ccd9;
      }
      .error-main {
        background-color: #fff;
        box-shadow: 0px 10px 10px -10px #5d6572;
      }
      .error-main h1 {
        font-weight: bold;
        color: #444444;
        font-size: 100px;
        text-shadow: 2px 4px 5px #6e6e6e;
      }
      .error-main h6 {
        color: #42494f;
      }
      .error-main p {
        color: #9897a0;
        font-size: 14px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row text-center">
        <div
          class="col-lg-6 offset-lg-3 col-sm-6 offset-sm-3 col-12 p-3 error-main"
        >
          <div class="row">
            <div class="col-lg-8 col-12 col-sm-10 offset-lg-2 offset-sm-1">
              <h1 class="m-0">
                <%= status %>
              </h1>
              <h6>
                <%= message %>
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
